/*Подключение функций, миксинов /=============================================================================*/
@use "sass:math";
@import "functions";
/*=============================================================================================================*/
/*Подключение шрифтов /=============================================================================*/
/* @import 'fonts.scss'; */
/*=============================================================================================================*/
/*Размер шрифта по умолчанию /=============================================================================*/
$mainFontSize: 20;
/*=============================================================================================================*/
/*Контейнер и сетка /=============================================================================*/
$mw: 1894; //? +54
$minwidth: rem(320);
$md1: rem($mw + 12);
$md2: rem(1280);
$md3: rem(744);
$md4: rem(375);
[class*="__container"] {
    max-width: rem($mw);
    margin: 0 auto;
    padding: 0 rem(27);
    width: 100%;
}
/* .container{max-width: $mw; margin: 0 auto; width: 100%;
    @media (max-width: $md1){max-width: 970px;}
    @media (max-width: $md2){max-width: 750px;}
    @media (max-width: $md3){max-width: 470px; padding: 0 10px;}
    @media (max-width: $md4){max-width: 100%; padding: 0 10px;}
} */
/*=============================================================================================================*/
/*Иконочный шрифт /=============================================================================*/
/* @import 'icons'; */
/*=============================================================================================================*/
/*Обнуление /=============================================================================*/
@import "null";
/*=============================================================================================================*/
/*Переменные для адаптивного свойства /=============================================================================*/
$maxWidth: 1920; //макс ширина
$maxWidthContainer: 1920; //ширина макета
/*=============================================================================================================*/
/*Основные цвета /=============================================================================*/
:root {
    --color-main: #2b2a29;
    --blue: #0abab5;
    --blue-hover: #09aaa5;
    --blue-hover2: #08726e;
    --white: #fff;
}
/*=============================================================================================================*/
/*Основные стили /=============================================================================*/
body {
    font-size: rem($mainFontSize);
    font-family: "Montserrat", sans-serif;
    // font-family: "Cormorant", serif;
    &.lock {
        overflow: hidden;
    }
}
a {
    color: inherit;
}
button {
    background-color: transparent;
}
.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}
/*=============================================================================================================*/
/*Общие блоки /=============================================================================*/
.title {
    font-family: "Cormorant", serif;
    @include adaptiv-value("font-size", 64, 24, 1);
    font-weight: 600;
    text-align: center;
    margin-bottom: rem(20);
    color: var(--blue);
    text-transform: uppercase;
}
section {
    @include adaptiv-value("margin-bottom", 50, 40, 1);
}
.button {
    @include adaptiv-value("padding-top", 16.5, 9, 1);
    @include adaptiv-value("padding-bottom", 16.5, 9, 1);
    @include adaptiv-value("padding-right", 47, 40, 1);
    @include adaptiv-value("padding-left", 47, 40, 1);
    @include adaptiv-value("font-size", 24, 12, 1);
    background-color: var(--blue);
    text-align: center;
    font-family: "Cormorant", serif;
    text-transform: uppercase;
    display: inline-block;
    white-space: nowrap;
    font-weight: 600;
    border-radius: rem(5);
    transition: background-color 0.3s ease;
    color: var(--white);
    @media (max-width: $md4) {
        display: block;
    }
    &:focus {
        background: var(--blue-hover);
    }
    @media (any-hover: hover) {
        &:hover {
            background: var(--blue-hover);
        }
    }
    &_border {
        background-color: transparent;
        border: rem(1) solid var(--blue);
        color: var(--blue);
        transition: all 0.3s ease;
        &:focus {
            color: var(--blue-hover2);
            border-color: var(--blue-hover2);
            background-color: transparent;
        }
        @media (any-hover: hover) {
            &:hover {
                color: var(--blue-hover2);
                background-color: transparent;
                border-color: var(--blue-hover2);
            }
        }
    }
}
.input {
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    background: rgb(244, 249, 245);
    @include adaptiv-value("font-size", 26, 12, 1);
    font-weight: 600;
    font-family: "Cormorant", serif;
    @include adaptiv-value("padding-top", 14, 12, 1);
    @include adaptiv-value("padding-bottom", 14, 12, 1);
    @include adaptiv-value("padding-right", 20, 14, 1);
    @include adaptiv-value("padding-left", 20, 14, 1);
    @include adaptiv-value("border-radius", 10, 5, 1);
}
//общие для радио
.radio-item {
    align-items: center;
    display: inline-flex;
    @include adaptiv-value("column-gap", 9, 5, 1);
}
.radio {
    display: none;
    &:checked + .radio-checkmark {
        &::after {
            content: "";
            width: rem(22);
            height: rem(22);
            @media (max-width: $md3) {
                width: rem(14);
                height: rem(14);
                top: rem(3);
                left: rem(3);
            }
            background-color: var(--blue);
            position: absolute;
            top: rem(4);
            left: rem(4);
            border-radius: 50%;
        }
    }
}
.radio-checkmark {
    width: rem(31);
    height: rem(31);
    @media (max-width: $md3) {
        width: rem(21);
        height: rem(21);
    }
    border-radius: 50%;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
    background: rgb(244, 249, 245);
    display: inline-block;
}

.checkbox-item {
    display: flex;
    column-gap: rem(5);
    cursor: pointer;
    &:not(:last-child) {
        @include adaptiv-value("margin-bottom", 10, 5, 1);
    }
}
.checkbox {
    display: none;
    &:checked + .checkbox-checkmark {
        &::after {
            content: "";
            width: rem(36);
            height: rem(36);
            @media (max-width: $md3) {
                width: rem(19);
                height: rem(19);
                top: rem(2);
                left: rem(2);
                border-radius: rem(3);
            }
            background-color: var(--blue);
            position: absolute;
            top: rem(3);
            left: rem(3);
            border-radius: rem(7);
        }
    }
}
.checkbox-text {
    align-self: center;
    @include adaptiv-value("font-size", 24, 12, 1);
    font-weight: 500;
}
.checkbox-checkmark {
    width: rem(43);
    height: rem(43);
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    @media (max-width: $md3) {
        width: rem(25);
        height: rem(25);
    }
}
/*=============================================================================================================*/
@import "header";
/*=============================================================================================================*/

//ГЛАВНАЯ
.welcome-slider {
    overflow: hidden;
    padding-top: rem(20);
    position: relative;
    &__container {
        @media (max-width: $md4) {
            padding: 0 0px;
        }
    }
    &__wrapper {
        display: flex;
    }

    &__item {
        flex-shrink: 0;
        @media (min-width: $md4) {
            min-height: calc(100vh - 145px);
        }
        padding-top: rem(60);
        padding-bottom: rem(60);
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        background-color: var(--blue);
        position: relative;
        padding-right: rem(50);
        padding-left: rem(50);
    }

    &__title {
        @include adaptiv-value("font-size", 150, 24, 1);
        font-weight: 700;
        color: var(--white);
        max-width: rem(1170);
        margin: 0 auto;
        margin-bottom: rem(10);
        line-height: perc(30, 24);
    }

    &__text {
        @include adaptiv-value("font-size", 64, 16, 1);
        color: #b6eae9;
        font-family: "Cormorant", serif;
        max-width: rem(899);
        margin: 0 auto;
    }

    &__arrows {
    }
}
.arrows {
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        img {
            transition: transform 0.3s ease;
            @include adaptiv-value("width", 20, 12, 1);
        }
        &:focus {
            img {
                transform: scale(1.1);
            }
            .arrows__prev {
                img {
                    transform: scale(1.1) rotate(180deg);
                }
            }
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
                &.arrows__prev {
                    img {
                        transform: scale(1.1) rotate(180deg);
                    }
                }
            }
        }
    }

    &__prev {
        @include adaptiv-value("left", 70, 27, 1);
        img {
            transform: rotate(180deg);
        }
    }

    &__next {
        @include adaptiv-value("right", 70, 27, 1);
    }
}

/*=============================================================================================================*/
.new {
    position: relative;
    &__container {
    }

    &__title {
    }

    &__slider {
        position: relative;
        overflow: hidden;
        max-width: rem(1420);
        margin: 0 auto;
        //padding: 0 rem(20);
    }

    &__wrapper {
        display: flex;
    }

    &__slide {
        flex-shrink: 0;
    }

    &__item {
    }

    &__arrows {
    }
    .arrows__prev {
        @include adaptiv-value("left", 170, 27, 1);
    }
    .arrows__next {
        @include adaptiv-value("right", 170, 27, 1);
    }
}
.items-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(rem(270), 1fr));
    @include adaptiv-value("gap", 20, 10, 1);
    justify-content: center;
}
.item {
    transition: background-color 0.3s ease;
    display: block;
    max-width: rem(445);
    text-align: center;
    position: relative;
    &:focus {
        .item__title {
            color: var(--blue);
        }
    }
    @media (any-hover: hover) {
        &:hover {
            .item__title {
                color: var(--blue);
            }
        }
    }
    &__image {
        @include adaptiv-value("height", 260, 170, 1);
        border: 1px solid rgba(43, 42, 41, 0.1);
        border-radius: 5px;
        position: relative;
        margin-bottom: rem(10);
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__star {
        position: absolute;
        @include adaptiv-value("right", 15, 10, 1);
        @include adaptiv-value("top", 15, 10, 1);
        @include adaptiv-value("width", 34, 17, 1);
        height: rem(34);
        z-index: 10;
        transition: transform 0.3s ease;
        &:focus {
            transform: scale(1.1);
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
        .item__star-active-image {
            display: none;
        }
        img {
            max-width: 100%;
            object-fit: contain;
            position: relative;
        }
        &_active {
            img {
                display: none;
            }
            .item__star-active-image {
                display: block;
            }
        }
    }
    &__title {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 10, 5, 1);
        }
        font-weight: 500;
        transition: all 0.3s ease 0s;
        @include adaptiv-value("font-size", 20, 16, 1);
    }
    &__brand {
        font-family: "Cormorant", serif;
        @include adaptiv-value("font-size", 33, 16, 1);
        font-weight: 700;
        @include adaptiv-value("margin-bottom", 10, 5, 1);
    }
    &__price {
        @include adaptiv-value("font-size", 24, 14, 1);
        font-weight: 500;
    }
}

/*=============================================================================================================*/
.new-slider {
    overflow: hidden;
    padding-top: rem(20);
    position: relative;
    &__container {
        @media (max-width: $md4) {
            padding: 0 0px;
        }
    }
    &__wrapper {
        display: flex;
    }

    &__item {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        flex-shrink: 0;
        @include adaptiv-value("padding-top", 610, 155, 1);
        @include adaptiv-value("padding-bottom", 47, 15, 1);

        text-align: center;
        position: relative;
        padding-right: rem(50);
        padding-left: rem(50);
    }

    &__title {
        @include adaptiv-value("font-size", 64, 18, 1);
        font-weight: 700;
        color: var(--white);
        position: relative;
        font-family: "Cormorant", serif;
        mix-blend-mode: difference;
        max-width: rem(1170);
        margin: 0 auto;
        margin-bottom: rem(10);
        line-height: perc(30, 24);
        text-transform: uppercase;
    }

    &__link {
        position: relative;
        @include adaptiv-value("font-size", 24, 12, 1);
        text-decoration: underline;
        transition: color 0.3s ease;
        &:focus {
            color: var(--blue);
            text-decoration: underline;
        }
        @media (any-hover: hover) {
            &:hover {
                color: var(--blue);
                text-decoration: underline;
            }
        }
    }

    &__arrows {
    }
}

/*=============================================================================================================*/
.popular {
    &__container {
    }

    &__title {
    }
    &__bottom {
        text-align: center;
    }
    &__row {
        @include adaptiv-value("margin-bottom", 40, 20, 1);
    }
}
.trends {
    img {
        position: relative;
        //object-fit: none;
        max-width: 100%;
        max-width: rem(540);
        height: auto;
        margin-bottom: rem(20);
    }
    &__slide {
        @include adaptiv-value("padding-top", 50, 20, 1);
        padding-bottom: rem(20);
        border: 1px solid rgb(234, 234, 234);
    }
    .new-slider__title {
        color: #000;
    }
}

/*=============================================================================================================*/
.about {
    &__container {
    }
    &__body {
        display: flex;
        @include adaptiv-value("column-gap", 20, 10, 1);
    }
    &__content {
        display: flex;
        flex-direction: column;
        flex: 0 0 perc(755, 1840);
        @media (max-width: $md4) {
            flex: 0 1 100%;
        }
        @media (max-width: $md4) {
            text-align: center;
        }
    }

    &__title {
        text-align: left;
        @media (max-width: $md4) {
            text-align: center;
        }
    }

    &__text {
        @include adaptiv-value("font-size", 30, 12, 1);
        p {
            &:not(:last-child) {
                @include adaptiv-value("margin-bottom", 33, 14, 1);
            }
        }
        flex: 1 1 auto;
        margin-bottom: rem(40);
    }

    &__button {
        align-self: start;
        @media (max-width: $md4) {
            align-self: stretch;
        }
    }

    &__image {
        flex: 1 1 auto;
        border: 1px solid rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        overflow: hidden;
        @include adaptiv-value("height", 550, 254, 1);
        @media (max-width: $md4) {
            display: none;
        }
        position: relative;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

/*=============================================================================================================*/
.contacts {
    background-color: #f5f5f5;
    margin-bottom: 0;
    @include adaptiv-value("padding-top", 40, 30, 1);
    @include adaptiv-value("padding-bottom", 40, 30, 1);
    &__container {
        @media (min-width: $md4) {
            display: flex;

            @include adaptiv-value("column-gap", 30, 10, 1);
        }
        @media (max-width: $md3) {
            flex-wrap: wrap;
        }
    }

    &__col {
        @media (min-width: $md4) {
            flex: 1 1 50%;
        }
    }

    &__title-help {
        @include adaptiv-value("font-size", 50, 24, 1);
        @media (min-width: $md4) {
            text-align: left;
        }
    }

    &__list {
        @media (max-width: $md3) {
            margin-bottom: rem(30);
        }
        li,
        a {
            display: flex;
            align-items: center;
            @include adaptiv-value("column-gap", 10, 5, 1);
        }
        li {
            display: flex;
            align-items: center;
            font-weight: 500;
            @media (max-width: $md4) {
                font-weight: 600;
            }
            @include adaptiv-value("font-size", 24, 14, 1);
            &:not(:last-child) {
                margin-bottom: rem(10);
            }
        }
        a {
            transition: color 0.3s ease;
            &:focus {
                color: var(--blue);
            }
            @media (any-hover: hover) {
                &:hover {
                    color: var(--blue);
                }
            }
        }
    }

    &__title-notices {
        @include adaptiv-value("font-size", 50, 24, 1);
        @media (min-width: $md4) {
            text-align: right;
        }
    }

    &__form {
    }

    &__form-cols {
        @include adaptiv-value("margin-bottom", 30, 15, 1);
        @include adaptiv-value("column-gap", 20, 10, 1);
        display: flex;
        justify-content: space-between;
    }

    &__input {
        flex: 1 1 50%;
        color: rgba(0, 117, 113, 0.5);
    }

    &__button {
        flex: 1 1 50%;
        @media (max-width: $md4) {
            padding-right: rem(20.5);
            padding-left: rem(20.5);
        }
    }

    &__gender {
        display: flex;
        column-gap: rem(23);
    }

    &__radio-item {
    }

    &__radio {
    }
}

//КТАЛОГ
.catalog {
    &__container {
        display: flex;
        @include adaptiv-value("column-gap", 40, 6, 1);
    }
    &__filters {
        flex: 0 0 rem(403);
        overflow: hidden;

        @media (max-width: $md2) {
            flex: 0 0 rem(340);
        }
        @media (max-width: 800px) {
            flex: 0 0 rem(280px);
        }
        @media (max-width: $md3) {
            flex: 0 0 rem(226);
        }
    }
    &__body {
        flex: 1 1 auto;
    }
    &__category {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 50, 20, 1);
        }
    }
    &__category-title {
        //text-align: right;
        @include adaptiv-value("font-size", 64, 18, 1);
        margin-bottom: 0;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        column-gap: rem(15);
        align-items: center;
        margin-bottom: rem(20);
    }
    .item__image {
        @include adaptiv-value("height", 397, 169, 1);
    }
    .items-row {
        grid-template-columns: repeat(auto-fit, minmax(rem(350), 1fr));
        @media (max-width: 1600px) {
            grid-template-columns: repeat(auto-fit, minmax(rem(300), 1fr));
        }
        @media (max-width: $md2) {
            grid-template-columns: repeat(auto-fit, minmax(rem(200), 1fr));
        }
    }
    &__sort {
        position: relative;
        display: flex;
        column-gap: rem(10);
        align-items: center;
        @media (max-width: $md2) {
            select {
                margin-right: rem(-150);
                width: rem(200);
            }
        }
        @media (max-width: $md3) {
            select {
                //margin-right: -100px;
                //width: rem(250);
            }
        }
        @media (max-width: $md4) {
            select {
                width: rem(170);
                margin-right: rem(-200);
            }
        }
        &::before {
            content: "";
            width: rem(15);
            height: rem(30);
            display: inline-block;
            transform: rotate(90deg); /* Начальное положение стрелки */
            background: url(../img/icons/arrow-blue.svg) 50% 0 / 12px no-repeat;
            @media (max-width: $md3) {
                margin-right: -7px;
                background: url(../img/icons/arrow-blue.svg) 50% 0 / 7px no-repeat;
            }
            transition: transform 0.3s ease; /* Плавный переход */
        }

        select {
            appearance: none;
            font-family: "Cormorant", serif;
            text-transform: uppercase;
            @include adaptiv-value("font-size", 24, 14, 1);
            font-weight: 600;
            color: var(--blue);
            padding: 10px;
            outline: none;
            -webkit-appearance: none; /* Для Safari */
            -moz-appearance: none; /* Для Firefox */

            option {
            }
        }

        // Добавляем стиль для фокуса на селекте
        select:focus + &::before {
            transform: rotate(270deg); /* Поворачиваем стрелку при фокусе */
        }
    }
}
.filters {
    &__title {
        text-align: left;
    }
    display: block;
    @media (max-width: 700px) {
        display: none;
    }
    &__item {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 20, 13, 1);
        }
    }

    &__item-title {
        @include adaptiv-value("font-size", 24, 13, 1);
        @include adaptiv-value("margin-bottom", 10, 6, 1);
        font-weight: 500;
        &_blue {
            font-family: "Cormorant", serif;
            text-transform: uppercase;
            color: var(--blue);
            font-weight: 600;
        }
    }

    &__search-form {
    }
    &__search-input {
        padding-left: rem(55) !important;
        width: 100%;
        position: relative;
        background: url(../img/icons/search-catalog.svg) 18px 50% / 25px no-repeat;
        &::after {
            content: "";
            position: absolute;
            width: rem(30);
            display: inline-block;
            height: rem(30);
            background-color: #940d0d;
            //
        }
    }
    &__input {
    }

    &__top {
        display: flex;
        justify-content: space-between;
        column-gap: rem(10);
        @include adaptiv-value("margin-bottom", 10, 6, 1);
        .filters__item-title {
            margin-bottom: 0;
        }
    }
    &__submit {
        display: block;
        width: 100%;
    }
    &__arrows {
        display: flex;
        @include adaptiv-value("column-gap", 30, 15, 1);
    }

    &__arrow {
        img {
            width: rem(10);
        }
        transition: transform 0.3s ease;
        &:focus {
            transform: scale(1.2);
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.2);
            }
        }
    }

    &__prev {
        img {
            transform: rotate(180deg);
        }
    }

    &__next {
    }

    &__brends-slider {
    }

    &__colors {
        display: flex;
        @include adaptiv-value("gap", 18, 5, 1);
        flex-wrap: wrap;
    }
    &__color-item {
        @include adaptiv-value("width", 66, 37, 1);
        @include adaptiv-value("height", 66, 37, 1);
        border: 1px solid rgba(255, 255, 255, 0.35);
        @include adaptiv-value("border-radius", 10, 5, 1);
    }
    &__color {
        cursor: pointer;
        input {
            display: none;
            &:checked + .filters__color-item {
                border: rem(2) solid #000;
            }
        }
    }

    &__checkbox-item {
    }

    &__prices {
    }

    &__price {
    }
}
.input {
    &_search {
    }
}
.brends-slider {
    &__wrapper {
        display: flex;
        @include adaptiv-value("column-gap", 10, 5, 1);
    }

    &__slide {
        flex-shrink: 0;
    }

    &__label {
        input {
            display: none;
            &:checked + .brends-slider__item {
                border: 1px solid #000;
            }
        }
    }

    &__item {
        border: 1px solid rgb(234, 234, 234);
        border-radius: 5px;
        font-family: "Cormorant", serif;
        cursor: pointer;
        @include adaptiv-value("font-size", 30, 15, 1);
        font-weight: 700;
        @include adaptiv-value("padding-top", 20, 10, 1);
        @include adaptiv-value("padding-bottom", 20, 10, 1);
        @include adaptiv-value("padding-right", 36, 20, 1);
        @include adaptiv-value("padding-left", 36, 20, 1);
    }
}

//КАРТОЧКА ТОВАРА
/*=============================================================================================================*/
.mini-slider-images {
    &__wrapper {
        display: flex;
        flex-direction: column;
        @include adaptiv-value("gap", 10, 5, 1);
    }

    &__slide {
        &.swiper-slide-thumb-active {
            border: rem(2) solid var(--blue);
        }
        cursor: pointer;
        flex-shrink: 0;
        @include adaptiv-value("height", 135, 50, 1);
        position: relative;
        @include adaptiv-value("width", 135, 50, 1);
        border: rem(1) solid rgb(233, 233, 233);
        border-radius: 10px;
        overflow: hidden;
        &:focus {
            border-color: var(--blue);
        }
        @media (any-hover: hover) {
            &:hover {
                border-color: var(--blue);
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.images-product-slider {
    overflow: hidden;
    padding-right: rem(20);
    @media (max-width: $md4) {
        padding-right: rem(50);
    }
    &__wrapper {
        display: flex;
        height: 100%;
        //@include adaptiv-value('column-gap', 20, 10, 1);
    }

    &__slide {
        flex-shrink: 0;
        border: rem(1) solid rgb(233, 233, 233);
        border-radius: 10px;
        overflow: hidden;
        position: relative;
        width: 100%;
        height: 100%;
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.product {
    @include adaptiv-value("margin-bottom", 100, 30, 1);
    @include adaptiv-value("padding-top", 120, 30, 1);
    &__container {
        display: flex;
        @include adaptiv-value("column-gap", 20, 10, 1);
        @media (max-width: 650px) {
            flex-wrap: wrap;
        }
    }

    &__images {
        flex: 0 1 rem(1065);
        @media (max-width: 650px) {
            flex: 0 1 100%;
            margin-bottom: rem(20);
        }
        display: flex;
        @media (min-width: $md2) {
            min-width: rem(680);
        }

        overflow: hidden;
        @include adaptiv-value("gap", 10, 5, 1);
        @include adaptiv-value("column-gap", 20, 10, 1);
        @include adaptiv-value("height", 1005, 337, 1);
        @media (max-width: $md2) {
            flex: 0 0 rem(680);
        }
        @media (max-width: 1150px) {
            flex: 0 0 rem(430);
        }
        @media (max-width: 790px) {
            flex: 1 0 rem(344);
        }
    }

    &__mini-slider {
        @media (max-width: 650px) {
            display: none;
        }
    }

    &__slider {
    }

    &__content {
        flex: 1 1 auto;
        overflow: hidden;
    }

    &__title {
        @include adaptiv-value("font-size", 99, 27, 1);
        font-family: "Cormorant", serif;
        font-weight: 700;
        margin-bottom: rem(10);
        @media (max-width: 650px) {
            text-align: center;
        }
    }

    &__name {
        margin-bottom: rem(10);
        @media (max-width: 650px) {
            text-align: center;
        }
    }

    &__text {
        @include adaptiv-value("font-size", 24, 14, 1);
        font-weight: 500;
        span {
            font-weight: 700;
        }
    }

    &__price {
        @media (max-width: 650px) {
            text-align: center;
        }
        @include adaptiv-value("margin-bottom", 40, 30, 1);
    }

    &__color {
        @include adaptiv-value("margin-bottom", 40, 20, 1);
    }

    &__others-text {
        @include adaptiv-value("margin-bottom", 30, 15, 1);
    }

    &__others {
        display: flex;
        overflow-x: auto;
        @include adaptiv-value("gap", 20, 10, 1);
    }

    &__other {
        width: rem(135);
        height: rem(135);
        flex: 0 0 rem(135);
        @media (max-width: $md2) {
            width: rem(80);
            height: rem(89);
            flex: 0 0 rem(89);
        }
        @media (max-width: $md3) {
            width: rem(49);
            height: rem(63);
            flex: 0 0 rem(49);
        }
        @media (max-width: $md4) {
            width: rem(100);
            height: rem(129);
            flex: 0 0 rem(100);
        }
        border: 1px solid rgb(233, 233, 233);
        border-radius: 7px;
        position: relative;
        overflow: hidden;

        transition: border-color 0.3s ease;
        &:focus {
            border-color: var(--blue);
        }
        @media (any-hover: hover) {
            &:hover {
                border-color: var(--blue);
            }
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__size-top {
        display: flex;
        justify-content: space-between;
        column-gap: rem(10);
        @include adaptiv-value("margin-top", 30, 15, 1);
        @include adaptiv-value("margin-bottom", 20, 10, 1);
    }

    &__table-link {
        color: var(--blue);
        @include adaptiv-value("font-size", 24, 12, 1);
        font-weight: 500;
        text-decoration: underline;
        transition: color 0.3s ease;
        &:focus {
            text-decoration: underline;
            color: var(--blue-hover2);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--blue-hover2);
            }
        }
    }

    &__sizes {
        display: flex;
        overflow-x: auto;
        @include adaptiv-value("gap", 20, 10, 1);
    }

    &__size {
        input {
            display: none;
            &:checked + .product__size-item {
                border: rem(1) solid var(--blue);
                color: var(--blue);
            }
            &:disabled + .product__size-item {
                color: #d9d9d9;
                border: rem(1) solid #d9d9d9;
            }
        }
    }
    &__size-item {
        width: rem(135);
        height: rem(135);
        transition: all 0.3s ease 0s;
        display: flex;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
        justify-content: space-around;
        @include adaptiv-value("font-size", 36, 28, 1);
        @media (max-width: $md3) and (min-width: $md4) {
            font-size: rem(14) !important;
        }
        @media (min-width: $md4) {
            @include adaptiv-value("font-size", 36, 28, 1);
        }
        border: 1px solid rgb(43, 42, 41);
        border-radius: 10px;
        @media (max-width: $md2) {
            width: rem(80);
            height: rem(102);
        }
        @media (max-width: $md3) {
            width: rem(49);
            height: rem(58);
        }
        @media (max-width: $md4) {
            width: rem(100);
            height: rem(118);
        }
        transition: background-color 0.3s ease;
        &:focus {
            border: rem(1) solid var(--blue);
        }
        @media (any-hover: hover) {
            &:hover {
                border: rem(1) solid var(--blue);
            }
        }
        &_none {
        }

        &_active {
        }
    }
    &__min {
        font-weight: 700;
    }

    &__max {
    }

    &__total {
        @include adaptiv-value("margin-top", 20, 10, 1);
        color: var(--blue);
        @include adaptiv-value("margin-bottom", 40, 20, 1);
    }

    &__buttons {
        display: flex;
        flex-wrap: wrap;
        @include adaptiv-value("gap", 14, 10, 1);
    }
    &__cart {
        flex: 1 1 40%;
    }
    &__quickly {
        flex: 1 1 40%;
    }
    &__favorites {
        flex: 0 1 100%;
        background-color: var(--color-main);
        transition: background-color 0.3s ease;
        &:focus {
            background-color: #3a3a3a;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: #3a3a3a;
            }
        }
    }
}
/*=============================================================================================================*/
.product-info {
    &__container {
        @media (min-width: 600px) {
            display: flex;
            @include adaptiv-value("column-gap", 30, 10, 1);
        }
    }

    &__mobile-filters {
        @media (min-width: 600px) {
            display: none;
        }
        border-radius: 5px;
        box-shadow: inset 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        background: rgb(244, 249, 245);
        display: flex;
        padding: rem(5) rem(10);
        margin-bottom: rem(17);
    }

    &__filter {
        flex: 0 1 33.3333%;
        font-family: "Cormorant", serif;
        font-size: 12px;
        font-weight: 700;
        line-height: 18px;
        text-transform: uppercase;
        color: var(--blue);
        letter-spacing: 1.14px;
        padding: rem(10);
        transition: all 0.3s ease 0s;
        border-radius: 5px;
        &.active{
            box-shadow: 0px 1px 8.8px 0px rgba(0, 0, 0, 0.1);
            background: rgb(255, 255, 255);
        }
    }

    &__item {
        @media (min-width: 600px) {
            flex: 0 1 33.3333%;
        }
        line-height: perc(35, 24);
        span {
            font-weight: 600;
        }
        @include adaptiv-value("font-size", 24, 14, 1);
    }

    &__title {
        @include adaptiv-value("font-size", 48, 20, 1);
        text-transform: uppercase;
        font-family: "Cormorant", serif;
        font-weight: 700;
        @include adaptiv-value("margin-bottom", 20, 10, 1);
        color: var(--blue);
        @media (max-width: 600px) {
            display: none;
        }
    }

    &__list {
    }

    &__text {
        &:not(:last-child) {
            @include adaptiv-value("margin-bottom", 14, 9, 1);
        }
    }

    &__link {
        color: var(--blue);
        text-decoration: underline;
        transition: color 0.3s ease;
        &:focus {
            text-decoration: underline;
            color: var(--blue-hover2);
        }
        @media (any-hover: hover) {
            &:hover {
                text-decoration: underline;
                color: var(--blue-hover2);
            }
        }
    }
}
.similar {

    &__container {
    }
    position: relative;
    &__top {
 
        @media (min-width: $md4){
            display: flex;
            justify-content: space-between;
            column-gap: rem(10);
        }
    }

    &__title {
        @media (min-width: $md4){
            text-align: left;
            
        }
    }

    &__arrows {
        display: flex;
        @include adaptiv-value('column-gap', 15, 7, 1);

    }

    &__arrow {
        @include adaptiv-value('width', 42, 29, 1);
        @include adaptiv-value('height', 42, 29, 1);
        border-radius: 50%;
        background-color: var(--blue);
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $md4){
            position: absolute;
            top: 50%;
            z-index: 2;
            &.similar__next{
                right: 10px;
            }
            &.similar__prev{
                left: 10px;
            }
        }
        img {
            @include adaptiv-value('width', 7.5, 5, 1);
        }
        transition: background-color 0.3s ease;
        &:focus {
            background-color: var(--blue-hover);
        }
        @media (any-hover: hover) {
            &:hover{
                background-color: var(--blue-hover);
            }
        }
    }

    &__prev {
        transform: rotate(180deg);
    }

    &__next {
    }

    &__slider {
    }

    &__wrapper {
        display: flex;
    }
    .item{
        flex-shrink: 0;
    }
    .item__image{
        @include adaptiv-value('height', 397, 169, 1);
    }
}

/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
/*=============================================================================================================*/
//footer
@import "footer";
